body {background-image:url(seanimages/seanlim.jpg);
r  ;}

.container {
    width: 1023px;
    margin-left: auto;
    margin-right: auto;

}



header {
    height: 100px;
    width: 1000px;
    text-align: center;
}

.logo img {
    width: 250px;
    height: 250px;
}

nav {
    height: 53px;
    width: 1000px;
    text-align: center;
    <button style="margin:5px;">Button 1</button> 
<button style="margin:5px;">Button 2</button> 
}

main {
    height: 840px;
    width: 1000px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

footer {text-align: center;
    background-color: rgba(0, 0, 0, 0.477);
    height: 103px;

padding-right: 130px;
}

h1 { 
    font-size: 34px;
    color: antiquewhite;
    text-align: center;
}

p {
    font-size: 24px;
    color: rgb(246, 243, 239);
    text-align: center;
}
a{font-size: 18px;
    color: rgb(237, 241, 245);}
    button a{color: black;
    text-decoration: none;}
    nav a{padding-top: 14px;
    padding-left: 10px;
    padding-right:10px;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}


* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how ther remaining space is distributed. look at the documentation for different spacing options*/

  justify-content: flex-start;
/*     justify-content: space-between; */
  /*   justify-content: space-around; */
  
/*   container margins */
  margin: 5px;
  
  list-style: none;
}

.flex-item {
/*   background: tomato; */

  max-width: auto;
  max-height: 32vh;
  
/*   inner grid spacing */
  margin: 5px;

  object-fit: cover;
}
