body {
  background-image: url(../seanimages/seanlim.jpg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  margin: auto;
  padding: auto;
}

header {
  height: 100px;
  width: 1000px;
  text-align: center;
}

.logo {
  padding: auto;
  margin: 10px 10px 10px;
  text-align: center;
}

.logo img {
  width: 150px;
  height: 150px;
  border-radius: 10px 10px 10px;
}

nav {
  height: 30px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: auto;
}

main {
  height: 50%;
  width: 50%;
  text-align: center;
  margin: auto;
  padding: auto;
}

h1 {
  font-size: 34px;
  color: antiquewhite;
  text-align: center;
}

p {
  font-size: 24px;
  color: rgb(246, 243, 239);
  text-align: center;
}

a {
  font-size: 18px;
  color: rgb(237, 241, 245);
}

nav a {
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how ther remaining space is distributed. look at the documentation for different spacing options*/

  justify-content: flex-start;
  /*     justify-content: space-between; */
  /*   justify-content: space-around; */

  /*   container margins */
  margin: 5px;

  list-style: none;
}

.flex-item {
  /*   background: tomato; */

  max-width: auto;
  max-height: 32vh;

  /*   inner grid spacing */
  margin: 5px;

  object-fit: cover;
}