#demotext{
    font-size: 90px;
  } 

body{
    background-color:burlywood;
    font-family: 'Roboto';
    font-size: 22px;
}

.center{
    margin: auto;
    text-align: center;
}

.titleimages{
  width: 90%;
  height: auto;
}


.flex-item{
  width:200px;
  height:200px;
  
}













